html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Quicksand, sans-serif;
    font-weight: 700
}
div#layercontrol {
    position: absolute;
    top: 0;
    left: 0;
}
#map {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: Quicksand, sans-serif;
    font-weight: 700
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    font-family: Quicksand, sans-serif;
    font-weight: 700
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 15rem;
}
#page-content-wrapper {
    min-width: 100vw;
    font-family: Quicksand, sans-serif;
    font-weight: 700
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
    color: red;
}